youtube_video_evaluator_fold_0.pth
youtube_video_evaluator_fold_1.pth
youtube_video_evaluator_fold_2.pth
youtube_video_evaluator_fold_3.pth
youtube_video_evaluator_fold_4.pth
output_thumbnail_evaluator.txt
thumbnail_batches/
__pycache__/
video_data_cleaned.csv
video_data.csv
video_ids_list.txt
.vscode/